<h1 mat-dialog-title>Add New Record</h1>
<div mat-dialog-content>
  <form [formGroup]="courseForm">
    <mat-form-field appearance="outline">
      <mat-label>ID</mat-label>
      <input formControlName="ID" matInput placeholder="Placeholder" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Book Name</mat-label>
      <input formControlName="bookName" matInput placeholder="Placeholder" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Category</mat-label>
      <mat-select formControlName="category" placeholder="">
        <mat-option value="Business">Business</mat-option>
        <mat-option value="Computers">Computers</mat-option>
        <mat-option value="Programming">Programming</mat-option>
        <mat-option value="Science">Science</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Price</mat-label>
      <input
        formControlName="price"
        matInput
        type="number"
        placeholder="Placeholder"
      />
    </mat-form-field>
  </form>
</div>
<div mat-dialog-action [align]="'end'">
  <button
    mat-raised-button
    class="btnSave"
    mat-dialog-close
    (click)="addEntry()"
  >
    {{ actionBtn }}
  </button>
  <button
    style="margin-left: 8px"
    mat-raised-button
    class="btnClose"
    mat-dialog-close
  >
    Cancel
  </button>
</div>
